.top
{
    padding-top: 1%;
    padding-bottom: 0.75%;
     
} 
section{
    font-family: 'Roboto', sans-serif;

}
#google_translate_element{
    float:right;
}
 body{
   
 }
 .switch { 
    cursor: pointer; 
    border: 3px solid #555; 
    border-radius: 10px; 
    width: 20px; 
    text-align: center; 
    padding: 5px; 
    margin-left: 8px; 

} 
.dark{ 
    background-color:black; 
    color: #e6e6e6; 
}
.dm { 
    float:right; 
    margin:1rem;
    padding:0.5rem;
} 
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.nav:hover
{
    background: white;
  color: black;
}
hr.style18:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }
 hr{
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px;  

 }
 .carousel {
    max-width: 100%;
  height: 500px;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
 
.card{
  background-color: inherit;
 padding-top: 20%;
 box-shadow: 10px 10px 5px #3EB8EB;
 padding: 3%;
 margin:2rem auto;
 max-width:100%;
 font-size:1.3rem;
 height:90%;
  }
  h3{
      background-color: #3EB8EB ;
  }
  .card1{
      padding-top: 20%;
      max-width:100%;
  }
  .sp{
    padding-top: 1%;
    padding-bottom: 0.75%;
    box-shadow: 10px 10px 5px #faea06;
  }
  .navbar-toggler {
    border-color: rgb(255,102,203);
  }
  nav
  {
    position: absolute !important;
    background-image: url("images/nav.jpg");
    padding-left: 8% ;
    padding-right: 5% ;
    padding-top: 3.5rem;;
    color: black;
  }
  ul li{
    text-align: center;
    padding-left:5rem;
    font-size: 1.2rem;
  }
  a{
    color:black;
    margin:0 1rem;
  }
  .bill{
    margin:1rem;
  }
  #hostel,#mess{
margin:1rem;
  }
  .as{
    display:block;
    height:150px;
    width:30%;
  }
.co{
  margin:0 auto;
}
.example_f {
  border-radius: 2rem;
  background: linear-gradient(to right, #FFA500, #FF803E) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index:3;
  display:inline;
}
.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  color: #FFFFFF;

}
.example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #FFFFFF;

}
.example_f:hover span {
  padding-right: 20px;
}
.example_f:hover span:after {
  opacity: 1;
  right: 0;
}
.theme-switch-wrapper {
  align-items: center;
}
.theme-switch {
  height: 34px;
  position: relative;
  width: 60px;
  margin-left:95%;
  z-index: 3;
  margin-top: -4rem;
}

.theme-switch input {
  display:none;  
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  margin-top:0;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;

}

input:checked + .slider {
  background-color: grey;

}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.ed{
  text-align: end;
  margin-right:70px;
  z-index: -1;
}
#pay img{
  margin:0 30% ;
}
#pay button{
  margin:1rem 35%;

}
#sum{
  text-align:center;
  padding:1rem;
  border:2px slateblue dashed;
}