
body{
    background-color: #e9d8a7;
    font-size: 3rem;
    text-align:center;
    z-index: 1;
	position: relative;
}
.box{    
    border:0.3rem  #a34935 solid;
    background-color:#BF4F45;
    padding: 3rem 1rem ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    width:100%;

}
.block {
	position: relative;
	width: 100%;
	background: linear-gradient(0deg,#F2C166,#D97236);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    border-radius: 2rem;
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
    background: linear-gradient(45deg,#A62103,#F24405,#F27405,#F28705,#F29F05);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
    z-index: -1;
    border-radius: 2rem;
    animation: steam 20s linear infinite;
    width: 100%;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(2rem);
}

nav{
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.3rem;
    width:100%;
}
/*nav div{
    justify-content:start;
    margin-right: 2rem;
}*/
nav a{
    color:#F2F0D0;
    text-decoration: none;
    flex-basis:20%;
    /*margin: 5rem 1.5rem 5rem 0;*/
    font-size:1.5rem;
    justify-content: center;
    padding:0 6%;
}
nav a:hover{
    color:#59332A;
    font-size:1.8rem;
    background-color:#F2C166;
}
.name img{
    margin:auto 2%;
    border: none;
    width: 7rem;
    height:7rem;
}
.name{
    display:flex;
    flex-flow:row nowrap;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    color:#AC2311;
    width:75%;
    font-size: 3.3rem;
    margin:auto 2%;
}
.name:after{
    content:"";
    display:table;
    clear:both;
}
 .bp{
    color:white;
    background-color:#bf4f45;
    display:block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
  }
.map{
    height:40%;
    width:90%;
}
.foter{
    background:#59332A;
    padding:3%;
    color: white;
    text-align: left;
    width:100%;
}
footer p{
    display:inline;
    margin-left:1rem;
    color: #F2DC99;
}
.fa {
    display:block;
    font-size: 30%;
    text-align: left;
    text-decoration: none;
    color: #F2DC99;
    padding: 1rem;
    padding-left:3%;  
}
.fa:hover{
    opacity: 0.7;
    font-size:2rem;
}
footer p a{
    color: #F2DC99;   
}
.dev{
    display:block;
    font-size:25%; 
    text-align: center;
}

